* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  /* min-height: 300px;
  max-height: 300px;
  min-width: 200px; */

  /* padding: 20px; */
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
  color: #222;
  padding: 10px;
}

.ui.cards > .card .meta.rating {
  margin-bottom: 5px;
  font-size: 16px;
  color: #222;
  font-weight: 400;
  padding: 10px;
}

.ui.cards > .card .meta.rating > a {
  font-size: 16px;
  color: #222;
  padding: 10px;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 45px;
}
.ui.button {
  background-color: #3d7c38;
  color: #222;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  margin-left: 80px;
}
